.container{
    background-color: cadetblue;
    display:  flex;
    flex-wrap: wrap;
    width: 230px;
    height: 1000px;
    align-content: space-around;
    /* flex-direction: row-reverse; */
    /* justify-content: end; */
}

.container .item{
    width: 100px;
    height: 100px;
    border: 3px dotted cornflowerblue;
    background-color: skyblue;
    
}